{{ define "title" }}
{{ .Title }}
{{ end }}

{{define "header" }}
{{ partial "heading.html" . }}
{{ end }}

{{ define "main" }}
<main class="max-w-4xl mx-auto">
    {{ if (gt (len .Content) 0) }}
    <section class="mb-4 content">
        {{ .Content }}
    </section>
    {{ end }}
    <section>
        {{ if (not (eq ($.Param "grouping") nil)) }}
        {{ range .Pages.GroupByParam ($.Param "grouping") }}
        {{ partial "list-group.html" . }}
        {{ end }}
        {{ else }}
        {{ range .Pages.GroupByDate "Jan &rsquo;06" }}
        {{ partial "list-group.html" . }}
        {{ end }}
        {{ end }}
    </section>
</main>
{{ end }}